<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        .lead{
            padding-top: 10px;
            padding-bottom: 10px;
            padding_left: 6px;
            padding_left: 6px;
            margin-top: 10px;
            background_color: 00FA9A;
            width: 100%;
        }
    </style>
</head>

<body>
  <a href="/leads">Назад</a>
  <hr />
    <h1>Профиль пользователя {{ lead.first_name }} </h1>
    <p>Возраст: {{ lead.age }}</p>
    <p>Ответственный за лида: {{ lead.agent }}</p>
        <div class="lead">
            <a href="/leads/{{ lead.pk}}/">{{ lead.first_name}} {{ lead.last_name}}</a>. Age: {{ lead.age }}
        </div>

</body>
</html>